@using CsharpBelt.Models;
@using System;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@model Activityy;


<h1>@Model.Name</h1>

<!-- HIGHLIGHTED PIECE OF CODE -->

<!-- This is a one of the view pages for a timed exam I completed during boot camp. I had to build an event planner in C#/ASP.NET -->
<!-- This piece of code allows users to join or leave an event. If the logged in user is not part of an event, they can click on a join button. If they have already joined, the button will have turned into a leave button. -->
<!-- As straightforward as it seems to me now, I remember really struggling through this part and feeling the pressure of completing a fully functional app in time. It was almost to the point where I was going to settle with just creating two separate buttons and writing logic that disables each button accordingly, which would have cost me a good amount of points.  -->
<!-- Pushing myself to figure out this small piece of code was one of the most rewarding parts of boot camp. -->
@{
    bool isGoing = false;
    @foreach(var p in ViewBag.num)
    { 
        if(p.UserId == ViewBag.User.UserId)
        {
            isGoing = true;
            break; 
        } 
    }
    @if(isGoing)
    {
        <a href="/leave/@Model.ActivityId" class="btn btn-warning btn-xs">Leave</a>
    }
    else
    {
        <a href="/join/@Model.ActivityId" class="btn btn-primary btn-xs">Join</a>
    }
    
}
<!-- END OF HIGHLIGHTED PIECE OF CODE -->


    



<div class="inline">
<h3>
    Event Coordinator:       
    @foreach(var i in ViewBag.Users)
    {
        if(i.UserId == Model.CoordinatorId)
        {
            @i.Name
        }
    }

</h3>

</div>

<h3>Activity Description</h3>
<p>@Model.Description</p>
<br>
<br>
<br>




<h3>Participants</h3>

<ul>
    
    @foreach(var p in ViewBag.num)
    {
        
        @foreach(var i in ViewBag.Users)
        {
            if(i.UserId == p.UserId)
            {
                string person = i.Name;
                <li>@person</li>
            }
        }
    }
</ul>
